html{
	background-color: #ccc;
}

#the-fight{
	margin: 0 auto;
	max-width: 960px;

}

h1{
	text-align: center;	
	font-size: 60px;
	color: red;
	text-shadow: 2px 2px black;
}

button{
	background-color: red;
	text-align: center;
	font-size: 20px;
	color: white;
	border-radius: 5px;
}
img{
	text-align: center;
	float: center;
}
.dragon{
	text-align: center;
	margin-top: -18%;
}

.dragon-appeared{
	background-color: black;
	border-radius: 100px;
	width: 20%;
	float: right;
	color: black;
	
}
#dice{
	text-align: center;
	margin-top: 2%;
	padding-top: 2%;
}

#coward{
	margin-top: -10%;	
}

.whimp{
	text-align: center;
	margin-top: -20%;
	margin-bottom: 5%;
}

#wild-dragon{
	margin-top: -1%;
}

.button{
	margin-top: -27%;
}

#yourhealth{
	position: relative;
	left: -12%;
	color: white;
}

.health-bar{
	color: white;
	position: relative;
	left: -12%;	
	font-size: 22px;

}
span{
	color: red;
}

#whimp1{

}

#dragonhealth{
	position: absolute;
	right: 20%;
	top: 12.8%;

}

.dragon-health{
	color: white;
	position: absolute;
	right: 20%;
	top: 12.8%;
	font-size: 20px;

}
