body{
	max-width: 960px;
	margin: auto;
}

img{
	width: 100%;
}

#header{

}

#left-header{
	float: left;

}

.header-text{
	float: left;
	color: #28aadc;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;

}

#right-header{
	float: right;

}

button{
	float: right;
	padding: 5px;
	background-color: #ff3c50;
	color: #fff;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}